

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.block-button {
    display: block;
    width: 100%;
}

.wansley {
    color: #336633;
}

